{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'items/css/style.css' %}" type="text/css">
    <title>{{ title }}</title>
</head>
<body class="edit">
    <h1 class="title text-center">{{ title }}</h1>
    <form action="{% url 'edit' id %}" method="POST">
        {% csrf_token %}
        <table class="table">
            <tr>
                <th>
                    <td>
                        {{ form.as_table }}
                    </td>
                </th>
            </tr>
        </table>
        <input type="submit" value="click" class="sub-btn">
    </form>
    <a href="{% url 'list' %}" class="text-center"><h3>list</h3></a>
</body>
</html>